<div class="topbar-wrap">
    <div class="topbar is-sticky" style="background-color: brown;">
        <div class="container ">
            <div class="d-flex justify-content-between align-items-center ">
                <ul class="topbar-nav d-lg-none ">
                    <li class="topbar-nav-item relative ">
                        <a class="toggle-nav " href="# ">
                            <div class="toggle-icon "><span class="toggle-line "></span><span class="toggle-line "></span><span class="toggle-line "></span><span class="toggle-line "></span></div>
                        </a>
                    </li>
                    <!-- .topbar-nav-item -->
                </ul>
                <!-- .topbar-nav -->
                <a class="topbar-logo " href="index-2.html "><img src="assets/images/body-bg.png " srcset="assets/images/body-bg.png 2x" alt="logo "></a>
                <ul class="topbar-nav ">
                    <li class="topbar-nav-item relative "><span class="user-welcome d-none d-lg-inline-block " style=color:white>Welcome! Steven Kofi Nnuro</span><a class="toggle-tigger user-thumb " href="# "><em class="ti ti-user "></em></a>
                        <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown ">
                            <div class="user-status ">
                                <div class="user-status-balance ">AUTHORIZER</div>
                            </div>
                            <ul class="user-links ">
                                <li><a href="# "><i class="ti ti-id-badge "></i>Company Name</a></li>
                                <li><a href="# "><i class="ti ti-key "></i>Change Password</a></li>
                            </ul>
                            <ul class="user-links bg-light ">
                                <li><a href="sign-in.html "><i class="ti ti-power-off "></i>Logout</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- .topbar-nav-item -->
                </ul>
                <!-- .topbar-nav -->
            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- .topbar -->
    <div class="navbar " style="background-color: white;">
        <div class="container ">
            <div class="navbar-innr ">
                <ul class="navbar-menu ">
                    <li routerLinkActive="active " *ngFor="let menuItem of menuItems " class="{{ menuItem.class }} nav-item ">
                        <a [routerLink]="[menuItem.path] ">
                            <i class="tim-icons {{ menuItem.icon }} " style="color: grey;"></i>
                            <p style="color: grey;">{{ menuItem.title }}</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- .navbar-innr -->
        </div>
        <!-- .container -->
    </div>
    <!-- .navbar -->
</div>