<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="token-statistics card card-token height-auto">
                    <div class="card-innr">
                        <div class="token-balance token-balance-with-icon">
                            <div class="token-balance-icon"><img src="assets/images/money-bag.png" alt="logo"></div>
                            <div class="token-balance-text">
                                <h6 class="card-sub-title">Total Revenue For The Day</h6><span class="lead">₵{{this.totalRevenueDay}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="token-statistics card card-token height-auto">
                    <div class="card-innr">
                        <div class="token-balance token-balance-with-icon">
                            <div class="token-balance-icon"><img src="assets/images/cargo.png" alt="logo"></div>
                            <div class="token-balance-text">
                                <h6 class="card-sub-title">Number of Riders Active</h6><span class="lead">{{this.numberRiders}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="token-statistics card card-token height-auto">
                    <div class="card-innr">
                        <div class="token-balance token-balance-with-icon">
                            <div class="token-balance-icon"><img src="assets/images/verified-user.png" alt="logo"></div>
                            <div class="token-balance-text">
                                <h6 class="card-sub-title">Total Active Users</h6><span class="lead">{{this.totalUsers}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="token-information card card-full-height">
                    <div class="height-100">
                        <div class="text-center">
                            <div class="token-info"><img class="token-info-icon" src="assets/images/order.png">
                                <div class="gaps-2x"></div>
                                <h5 class="token-info-sub">Total Number Of Orders </h5>
                                <h1 class="token-info-head text-light">{{this.totalOrder}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .card -->
            </div>
            <!-- .col -->
            <div class="col-lg-4">
                <div class="token-information card card-full-height">
                    <div class="height-100">
                        <div class="text-center">
                            <div class="token-info"><img class="token-info-icon" src="assets/images/fast-delivery.png">
                                <div class="gaps-2x"></div>
                                <h5 class="token-info-sub">Total Number Of Orders Completed</h5>
                                <h1 class="token-info-head text-light">{{this.totalOrdersCompleted}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .card -->
            </div>
            <!-- .col -->

            <div class="col-lg-4">
                <div class="token-information card card-full-height">
                    <div class="height-100">
                        <div class="text-center">
                            <div class="token-info"><img class="token-info-icon" src="assets/images/cancel.png">
                                <div class="gaps-2x"></div>
                                <h5 class="token-info-sub">Total Number Of Orders Cancelled</h5>
                                <h1 class="token-info-head text-light">{{this.totalOrdersCancelled}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .card -->
            </div>

            <!-- .col -->

            <!-- .col -->
            <div class="col-lg-4">
                <div class="token-information card card-full-height">
                    <div class="height-100">
                        <div style="width:100%;">
                            <canvas id="myChart" width="1000" height="700" #mychart></canvas>
                        </div>
                    </div>
                </div>
                <!-- .card -->
            </div>
            <!-- .col -->

            <!-- .col -->


        </div>
        <!-- .row -->

    </div>
    <!-- .container -->
</div>
<!-- .page-content -->